@color-primary: #B8D880;
@color-primary-light: #E3F2C9;
@color-primary-dark: #769047;
@color-secondary: #FFE96D;
@color-secondary-light: #FFF19C;
@color-secondary-dark: #E1C200;
@color-tertiary: #D97E00;
@color-tertiary-light: #D8AE75;
@color-tertiary-dark: #8C5D1D;
@color-quaternary: #BE3E99;
@color-quaternary-light: #D982C0;
@color-quaternary-dark: #87246C;

@gray-alpha: rgba(0,0,0, 0.3);
@gray-alpha-light: rgba(0,0,0, 0.1);
@gray-alpha-dark: rgba(0,0,0, 0.6);

@gutter-base: 15px;
@gutter-lg: @gutter-base * 1.33;
@gutter-sm: @gutter-base * 0.33;

@transition-speed-base: 0.5s;
@transition-speed-fast: 0.25s;
@transition-speed-slow: 0.75s;

@font-size-base: 16px;

@text-color-base: @gray-alpha-dark;
@text-color-inverse: #fff;
