.u-detail-list {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    > dt, dd {
        box-sizing: border-box;
        margin: 0;
        padding: @gutter-sm @gutter-sm @gutter-base;
        float: left;
        width: auto;
    }
    > dt {
        color: @gray-alpha-dark;
        width: 35%;
        clear: left;
    }
    > dd {
        width: 65%;
        font-weight: bold;
    }

    &:after {
        clear: left;
    }

}
